@model BDA.ViewModel.UMAViewModel

<div class="widget has-shadow">
    <div class="widget-body">
        <div class="padding-left-20 padding-right-20">
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">Search Bank Draft<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-10">
                    @Html.DropDownListFor(x => x.BankDraftId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control show-menu-arrow select2", id = "ddlBankDraft" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">Reference No<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.RefNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-sm-2 form-control-label d-flex align-items-center">Proj No/ Assignment/ BD No/ Ref No<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.ProjectNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">BD No<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.BDNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-sm-2 form-control-label d-flex align-items-center">BD Requestor's Name<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.BDRequesterName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">ERMS Document No<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.ERMSDocNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">Company Code<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.CoCode, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-sm-2 form-control-label d-flex align-items-center">Business Area<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.BA, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">Name on BD<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.NameOnBD, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-sm-2 form-control-label d-flex align-items-center">BD Amount<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-4">
                    @Html.TextBoxFor(x => x.BDAmount, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 form-control-label d-flex align-items-center">Justification of UMA<span class="text-danger ml-2">*</span></div>
                <div class="col-xl-10">
                    @Html.TextAreaFor(x => x.Justification, new { @class = "form-control", @rows = "3", @placeholder = "Komen dan cadangan" })
                </div>
            </div>
        </div>
    </div>
</div>